
<div class="page-header">
  <h1>Goal</h1> 
</div>
<div class="well">
  <p>To become an accomplished software engineer while continuing to design and deliver quality systems.</p> 
</div>

<div class="page-header">
  <h1>Credentials</h1> 
</div>
<div class="well">
  <p> 
    <b>Bachelor of Computer Information Systems, 2008-2010</b> 
    <br /> 
    Okanagan College, Kelowna, BC
    <br /> 
    Major: Software Design and Development
    <br /> 
    Major: Database Systems Architecture and Administration
    <br /> 
    Honors: Bachelor of CIS Medal, Graduated with Distinction
  </p> 
  <p> 
    <b>Computer Information Systems Diploma, 2006-2008</b> 
    <br /> 
    Okanagan College, Kelowna, BC
    <br /> 
    Major: Software Development
    <br /> 
    Honors: Graduated with Distinction
  </p> 
</div>


<div class="page-header">
  <h1>Related Experience</h1> 
</div>
<div class="well">
  <p> 
    <b>Software Developer</b> 
    <br /> 
    Sun-Rype Products Ltd., Kelowna, BC; 2010-Present
  </p> 
  <ul> 
    <li> 
      Developed tailor made web applications for use within the organization's intranet and extranet using the ASP.NET WebForms and MVC frameworks
    </li> 
    <li> 
      Provided further automation within business processes and promoted increased business collaboration within SharePoint via custom workflows, event receivers and web parts
    </li> 
    <li> 
      Maintained, refactored and extended the functionality of existing projects to meet changing requirements
    </li> 
  </ul> 
  <p> 
    <b>Project Manager and Team Lead</b> 
    <br /> 
    Okanagan College, Kelowna, BC; 2009-2010
  </p> 
  <ul> 
    <li> 
      Designed and developed an automatic telescope control system using the agile software development methodology of Extreme Programming and later the Rational Unified Process methodology
    </li> 
    <li> 
      Achieved process automation for scheduling a Meade telescope to celestial coordinates or objects at future dates and then to take pictures of that area using a Canon 30D digital camera integrated with the systems
    </li> 
    <li> 
      Implemented further functionality for separate mobile views, authentication and authorization as well as adding SSL encryption to improve data confidentiality
    </li> 
    <li> 
      View a limited-functionality version for demonstration purposes at:
      <a href='http://stargazer.heroku.com' title='Stargazer - Automatic Telescope Control System'>http://stargazer.heroku.com</a> 
    </li> 
  </ul> 
  <p> 
    <b>Research Assistant - Supervisor: Youry Khmelevsky</b> 
    <br /> 
    Okanagan College, Kelowna, BC; 2009-2010
  </p> 
  <ul> 
    <li>Assisted in writing research grant proposals as well as research papers and articles on topics such as cloud computing and RFID applications</li> 
    <li>Co-published a research paper on automating inventory tracking within an organization's supply chain through the use of low cost mobile technology</li> 
    <li>Contributed in configuring the Computer Science department's rack-mounted servers hosted at the college</li> 
    <li>Implemented a research project which was to create custom barcode reading software using a Java MIDlet program and a Ruby on Rails web application</li> 
  </ul> 
  <p> 
    <b>Research Assistant - Supervisor: Heather Banham</b> 
    <br /> 
    Okanagan College, Kelowna, BC; 2008-2010
  </p> 
  <ul> 
    <li>Assisted in the implementation of the $1,000,000 project dubbed Building Small Business Human Resources, funded by the Canadian government</li> 
    <li>Developed and maintained the database-driven web portal, as a part of a team of other students, using Oracle Application Express (APEX)</li> 
    <li>Automated processes for tasks such as URL checking to improve maintainability</li> 
    <li> 
      View the live production version at:
      <a href='http://bsbhr.org' title='Building Small Business HR Resource Guide'>http://bsbhr.org</a> 
    </li> 
  </ul> 
</div>
          
<div class="page-header">
  <h1>Awards</h1> 
</div>
<div class="well">
  <p> 
    <b>BCIS Award</b> 
    <br /> 
    Okanagan College
    <br /> 
    Awarded in June 2010 for having the highest graduating average of any student in the BCIS program
  </p> 
  <p> 
    <b>Academic Achievement Scholarship</b> 
    <br /> 
    Okanagan College
    <br /> 
    Awarded for Winter and Fall 2009 semesters
  </p> 
  <p> 
    <b>Dean's List Certificates</b> 
    <br /> 
    Okanagan College
    <br /> 
    Awarded each semester from Fall 2006 to Winter 2010
  </p> 
</div>


<div class="page-header">
  <h1>Applied Skills</h1> 
</div>
<div class="well">
  <p> 
    <b>Programming Languages</b> 
  </p> 
  <ul> 
    <li>Proficient in: Ruby, Java, Visual Basic, PL/SQL, HTML, XML</li> 
    <li>Experience with: PHP, Perl, C++, C#, Scheme, JavaScript</li> 
  </ul> 
  <p> 
    <b>PC Software</b> 
    <br /> 
    Experienced with the following:
  </p> 
  <ul> 
    <li>Web Frameworks: Ruby on Rails, Oracle Application Express, Java Enterprise Edition, ASP.NET WebForms and MVC</li> 
    <li>RDBMS: Oracle, SQL Server, MySQL, SQLite</li> 
    <li>OS: Windows (XP, Server, Vista, 7), Linux (Ubuntu, Fedora), Unix</li> 
    <li>Versioning Control Systems: Git, Team Foundation Server, CVS, SVN</li> 
    <li>Office Suites: Microsoft Office, OpenOffice.org</li> 
  </ul> 
  <p> 
    <b>Areas of Knowledge</b> 
    <br /> 
    Practical applications of the following skills and areas of knowledge:
  </p> 
  <ul> 
    <li>Project management in software development</li> 
    <li>Agile software development methodologies and the Rational Unified Process (RUP)</li> 
    <li>Applying software patterns</li> 
    <li>Search engine optimization techniques</li> 
    <li>Database design and administration</li> 
    <li>Query optimization techniques</li> 
    <li>Object-oriented systems analysis and design</li> 
    <li>Computer networking</li> 
  </ul> 
</div>
