
<div class="row">
  <div class="span8">

    <div class="hero-unit">
      <h1>Welcome!</h1>
      <p>Hello there! I'm Rob Grmek, a resident of the sunny Okanagan in British Columbia, and this website holds my public resume as well as a listing of some of my projects which are publicly available for demonstration purposes.</p>
      <p>
        <a class="btn btn-primary btn-large">
          <i class="icon-list-alt icon-white"></i>
          View resume
        </a>
        <a class="btn btn-success btn-large">
          <i class="icon-folder-open icon-white"></i>
          View projects
        </a>
        <a class="btn btn-info btn-large" href="mailto:rgrmek@gmail.com">
          <i class="icon-envelope icon-white"></i>
          Contact me
        </a>
      </p>
    </div>
  </div>
  <div class="span4">
    <div class="page-header">
      <h1>About Me</h1>
    </div>
      <p> 
        Aspiring to become a software engineer, I have received my Bachelor of Computer Information Systems (BCIS) from Okanagan College in 2010. Over the course of my education, I have studied various object-oriented analysis, design and programming techniques and languages as well as languages from other programming paradigms such as PL/SQL and Scheme. I have put these techniques into practice by implementing projects on time and within budget while meeting the customer&rsquo;s requirements using agile software development methodologies such as Extreme Programming (XP) and other software development process frameworks such as the Rational Unified Process (RUP). Always eager to learn, I am self-motivated and always aspire to be professional in every aspect of my life.
      </p> 
  </div>
</div>
